# TeamOS Frontend - Production Environment Template



NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VubnktZmFsY29uLTkzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Jlzi5ia4vpBImKrnxJWAFXbvgnwzeEBFu3KjlUb3Wg
# The public URL of the Django REST Framework API
# Example: https://api.teamos.io/api
NEXT_PUBLIC_API_URL=https://your-backend-domain.com/api

# The WebSockets URL for presence and chat
# Example: wss://api.teamos.io/ws
NEXT_PUBLIC_WS_URL=wss://your-backend-domain.com/ws
